.ansBoxLook {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
}

.ansBoxLook :hover {
  border: 2px solid #1976d2;
}

@media screen and (min-width: 501px) {
  .quesCardContainer {
    background-color: #f8f8ff;
    width: 80%;
    margin-left: 10px;
    margin-right: 1%;
  }
}

@media screen and (max-width: 500px) {
  .quesCardContainer {
    background-color: #f8f8ff;
    width: 94%;
    height: 87%;
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media screen and (min-width: 501px) {
  .quesCard {
    margin-bottom: 50px;
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .quesCard {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
  }
}

.quesAnsCard {
  width: 77%;
}

@media screen and (min-width: 501px) {
  .quesLabel {
    font-size: 24px;
    font-family: "Lato", sans-serif;
    margin-top: 2%;
    width: 400px;
    line-height: 20px;
  }
}

@media screen and (max-width: 500px) {
  .quesLabel {
    font-size: 22px;
    font-family: "Lato", sans-serif;
    margin-top: 6%;
    width: 400px;
    line-height: 20px;
  }
}

.buttonLookR {
  width: 100px;
  cursor: pointer;
  float: right;
  margin-right: 5%;
}

.buttonLookL {
  width: 100px;
  cursor: pointer;
  float: left;
  margin-left: 5%;
}

.skewBtnL {
  width: 130px;
  height: 40px;
  outline: none;
  cursor: pointer;
  background: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  border: 2px solid #1976d2;
  color: #1976d2;
}
.skewBtnL:hover {
  border: none;
  color: white;
  font-size: 28px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.skewBtnR {
  width: 130px;
  height: 40px;
  outline: none;
  cursor: pointer;
  background: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  border: 2px solid #1976d2;
  color: #1976d2;
  float: right;
  margin-right: 5%;
}
.skewBtnR:hover {
  border: none;
  color: white;
  font-size: 28px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Buttons */
.blue {
  border: 2px solid #1976d2;
  color: #1976d2;
}
.blue:hover {
  background-color: #1976d2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.red {
  border: 2px solid red;
  color: red;
}
.red:hover {
  background-color: red;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ansBox {
  margin-top: 5%;
  display: grid;
  margin-left: 5%;
}

@media screen and (min-width: 501px) {
  .skewBtn {
    width: auto;
    height: 40px;
    outline: none;
    cursor: pointer;
    background: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 24px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    border: 0px solid #1976d2;
    color: #1976d2;
    text-align: justify;
    margin-right: 5%;
  }
}

@media screen and (max-width: 500px) {
  .skewBtn {
    width: auto;
    height: 40px;
    outline: none;
    cursor: pointer;
    background: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 20px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    border: 0px solid #1976d2;
    color: #1976d2;
    text-align: justify;
    margin-right: 5%;
  }
}
.skewBtn:hover {
  border: none;
  color: white;
  font-size: 28px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.Btn {
  border: 0px solid #1976d2;
  color: white;
  font-size: 28px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #1976d2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.BtnBorder {
  border: 2px solid #1976d2;
}

@media screen and (min-width: 501px) {
  .svgIconBox {
    width: 25px;
    height: 25px;
    margin-top: 1.5%;
    margin-right: 2%;
  }
}

@media screen and (max-width: 500px) {
  .svgIconBox {
    width: 25px;
    height: 25px;
    margin-top: 5%;
    margin-right: 2%;
  }
}

.svgQuesContainer {
  display: flex;
  margin-top: 1%;
  margin-left: 5%;
}
