.PersonCardContainer {
  background-color: ghostwhite;
  background-color: #fcfcfd;
  /* border: black 2px solid; */
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  /* width: 65%; */
  text-align: center;
  display: flex;
}

.baseCard {
  display: flex;
  flex-wrap: wrap;
}

.imgBox {
  width: 20%;
}

.imgBox img {
  width: 150px;
  height: 150px;
  margin-left: 12%;
  border-radius: 80px;
  margin-top: 7%;
}

.basicInfoBox {
  width: 50%;
  margin-left: 50px;
}

.nameLabel {
  color: #3094c0;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}

.otherDetailLook {
  color: grey;
  display: flex;
}

.detailsLook {
  margin-left: 20px;
}

.dateLook {
  color: grey;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}
