.sidePanel {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
}

.quesNoWrapBox {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 501px) {
  .sidePanelCardBox {
    border: 1px grey solid;
    width: 20%;
    height: 100%;
    background-color: #f8f8ff;
  }
}

@media screen and (max-width: 500px) {
  .sidePanelCardBox {
    border: 1px grey solid;
    background-color: #f8f8ff;
  }
}

@media screen and (min-width: 501px) {
  .sidePanelContainer {
    display: flex;
    margin-right: 10px;
    height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .sidePanelContainer {
    height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.quesNoLook {
  cursor: pointer;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: 2px solid #1976d2;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.quesNoLook:hover {
  background-color: yellow;
}

.ansQuesNoLook {
  cursor: pointer;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: 2px solid #1976d2;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #7eced4;
  color: white;
}

.unAnsQuesNoLook {
  cursor: pointer;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border: 2px solid #1976d2;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fb6f4e;
  color: white;
  content: "\2605";
}

.quesNoLookdiv {
  cursor: pointer;
  background-color: yellow;
}
