.sidePanel {
  background-color: #3094c0;
  width: 10%;
  float: left;
}

.sidePanelContainer {
  display: flex;
  width: 700px;
}

.quesNoLook {
  cursor: pointer;
  cursor: pointer;
  font-size: 35px;
  font-family: "Lato", sans-serif;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.quesNoLook:hover {
  background-color: yellow;
}

.quesNoLookdiv {
  cursor: pointer;
  background-color: yellow;
}
