@media screen and (min-width: 501px) {
  .TimerContainer {
    margin-top: 2%;
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .TimerContainer {
    margin-top: 2%;
    text-align: center;
  }
}

@media screen and (min-width: 501px) {
  .stopwatchIconLook {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 500px) {
  .stopwatchIconLook {
    width: 24px;
    height: 24px;
  }
}

.timerLabel {
  margin-top: 1%;
  margin-left: 10%;
}
